<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.swjtuhc.demo.mapper.NewsDao">
    <select id="queryUser" resultType="edu.swjtuhc.demo.model.News">
        select * FROM tuser ORDER BY userId ASC
    </select>

    <select id="userLogin" resultType="edu.swjtuhc.demo.model.News">
         SELECT *
        FROM news
        WHERE
        userName = #{userName} AND passWord = #{passWord}
    </select>

    <delete id="deleteNews">
        DELETE FROM
        news
        WHERE
        newsId =
        #{newsId}
    </delete>
    <insert id="insertNews"  parameterType="edu.swjtuhc.demo.model.News">
        INSERT INTO
        news (typeId,title,content,imgurl,datetime,author,state)
        VALUES
        (#{typeId},#{title},#{content},#{imgurl},#{datetime},#{author},#{state})
    </insert>

    <select id="getnewsId" resultType="edu.swjtuhc.demo.model.News">
        SELECT *
        FROM news
        WHERE
        newsId=#{newsId}
    </select>
    <update id="updateNews" parameterType="edu.swjtuhc.demo.model.News">
        update news
        <set>
            <if test=" title!= null">title=#{title},</if>
            <if test=" content!= null">content=#{content},</if>
            <if test=" imgurl!= null">imgurl=#{imgurl},</if>
            <if test=" datetime!= null">datetime=#{datetime},</if>
            <if test=" author!= null">author=#{author},</if>
            <if test=" content!= null">state=#{state}</if>
        </set>
        where newsId=#{newsId}
    </update>

    <select id="getTitle" resultType="edu.swjtuhc.demo.model.News">
        SELECT *
        FROM news
        WHERE
        title=#{title}
    </select>

    <select id="countUser"   resultType="int" >
        SELECT count(*)
        FROM tuser
    </select>
    <select id="findAllNewsBytypeId" parameterType="edu.swjtuhc.demo.model.News" resultType="edu.swjtuhc.demo.model.News" >
        SELECT * from news where typeId=#{typeId}
    </select>
     <select id="findAllNewsBytypeName" parameterType="edu.swjtuhc.demo.model.News" resultType="edu.swjtuhc.demo.model.News" >
        SELECT * from news inner join newstype on newstype.typeId=news.typeId where typeName=#{typename}
    </select>
    <select id="getAllnews"  resultType="edu.swjtuhc.demo.model.News" >
        SELECT * from news 
    </select>
</mapper>
